<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/keshane.css" %}">
    <title>Keshane</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="two columns center">
            <br>
            <b><a href="{% url "index" %}">About</a></b>
            <hr>
            <b><a href="https://github.com/keshane" target="_blank">Projects</a></b>
            <hr>
            <b><a href="{% url "contact" %}">Contact</a></b>
            <br>
            <br>

        </div>
        <div class="ten columns">
            <h1>Keshane Gan</h1>

            {% block content %} {% endblock %}
        </div>
    </div>
</div>

</body>
</html>