{% extends "keshane_site/base.html" %}
{% block content %}
<p>This is my site!</p>
<p>Currently employed as a Software Engineer at Siemens Healthineers.</p>
<p>I can play the piano and the <a href="https://wikipedia.org/wiki/carillon" target="_blank">carillon</a>.
    I play basketball. I eat a lot. I can speak French, decipher Latin, understand Cantonese, and
    pretend to know Mandarin.</p>
<p>I have experience with <code>C</code>, <code>C++</code>, <code>C#</code>,
    <code>Java</code>, <code>Python</code>, <code>JavaScript</code>, <code>HTML</code>,
    and <code>CSS</code>.</p>
{% endblock %}