<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/keshane.css" %}">
    <title>Keshane</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="two columns center">
            <nav>
                <br>
                <b><a href="{% url "index" %}">About</a></b>
                <hr>
                <b><a href="{% url "projects" %}">Projects</a></b>
                <hr>
                <b><a href="{% url "contact" %}">Contact</a></b>
                <br>
                <br>
            </nav>
        </div>
        <div class="ten columns">
            <header>
            <h1>Keshane Gan</h1>
            </header>
            <main>
                {% block content %} {% endblock %}
            </main>
        </div>
    </div>

    <footer class="center">&copy; Keshane Gan</footer>
</div>

</body>
</html>
